.header-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap:  wrap;
  background-color: rgb(48, 80, 142);
  padding-top: 20px;
  padding-bottom: 20px;
  /* position: fixed; */
  /* z-index: 100; */
  width: 100vw;
}

.header-logout-button {
  margin-left: 15px;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  border: rgb(48, 80, 142);
  font-size: large;
  opacity: 0.9;
  transition: 0.4s;
}

.header-logout-button:hover {
  background-color: salmon;
  opacity: 1;
}

.header-title {
  color: rgb(248,248,255);
  text-decoration: none;
  transition: ease-out .2s;
}
.h1-title{
  transition: ease-out .2s;
}
.h1-title:hover{
  transition: ease-in .1s;
  transform: scale(1.2);
}

.header-greeting {
  color: rgb(248,248,255);
  font-size: large;
}

.header-login-button {
  text-decoration: none;
  color: rgb(248,248,255);
  font-size: 25px;
  margin-right: 10px;
}

.header-signup-button {
  text-decoration: none;
  color: rgb(248,248,255);
  font-size: 25px;
  margin-left: 10px;
}

.header-login-button:hover, .header-signup-button:hover {
  text-decoration: underline;
}

.home, .sports {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: ease-out .2s;
  font-size: 20px;
}
.home:hover, .sports:hover{
  color: salmon;
  opacity: 1;
}