.home-basketball-image{
  height:400px;
  width:550px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.main-component {
  display: flex;
  flex-direction: column;
  background-color: rgb(225, 225, 225);
  /* margin-top: 20vh;
  margin-bottom: 20vh; */
  justify-content: center;
  height: 100vh;
}

.link-to-sports {
  text-decoration: none;
  text-align: center;
  font-size: x-large;
  color: black;
  margin-right: 0%;
}

.link-to-sports:hover {
  text-decoration: underline;

}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
  .home-basketball-image{
    height:200px;
    width:350px;
    margin-bottom: 5vh;
    border-radius: 10px;
    border: 2px solid black;
  }
}