.show-teams-title {
  margin-left: 5vw;
  font-size: 50px;
}
.team-name-div {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5vw;
}

.show-teams-team-name {
  text-decoration: none;
  color: black;
  opacity: 0.9;
  transition: 0.4s;
  font-size: 40px;
}

.show-teams-team-name:hover {
  color:salmon;
  transition: ease-in .1s;
  transform: scale(1.2);
}