.sports-basketball-image{
  height:300px;
  width:450px;
  margin-bottom: 5vh;
  border-radius: 10px;
  border: 2px solid black;
}

.sports-soccer-image{
  height:300px;
  width:450px;
  margin-bottom: 5vh;
  border-radius: 10px;
  border: 2px solid black;
}

.sports-main-div {
  display: flex;
  flex-direction: row;
  background-color: rgb(225, 225, 225);
  margin-top: 0vh;
  margin-bottom: 0vh;
  justify-content: center;
}

.sports-basketball-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 8vw;
}

.sports-basketball-link {
  text-decoration: none;
  color: black;
  width: 30px;
  margin-left: 35%;
  font-size: 30px;
  transition: ease-out .1s;
}

.sports-basketball-link:hover {
  transition: ease-in .1s;
  transform: scale(1.2);
}

.sports-soccer-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 8vw;
}

.sports-soccer-link {
  text-decoration: none;
  color: black;
  width: 30px;
  margin-left: 40%;
  font-size: 30px;
  transition: ease-out .1s;
}

.sports-soccer-link:hover {
  transition: ease-in .1s;
  transform: scale(1.2);
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
  .sports-basketball-image{
    height:200px;
    width:350px;
    margin-bottom: 5vh;
    border-radius: 10px;
    border: 2px solid black;
  }
  
  .sports-soccer-image{
    height:200px;
    width:350px;
    margin-bottom: 5vh;
    border-radius: 10px;
    border: 2px solid black;
  }
  .sports-main-div {
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 225, 225);
    margin-top: 0vh;
    margin-bottom: 0vh;
    justify-content: center;
  }

  .sports-basketball-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 10px;
  }

  .sports-soccer-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
  }
}